/* .notF {
  height: calc(100vh - 80px);
  position: relative;
  z-index: -2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centers;
  color: #fff;
  background-color: #0c0c0c;
} */

.notF h1 {
  font-size: 4rem;
  z-index: 3;
}
.notF p {
  font-size: 2rem;
}
